div{
    margin-top: 20;
    padding: 60px;}
   
   body{
       margin: 0;}
   ul{
       list-style-type: none;
       margin: 0;
       padding: 0;
       background-color: #333;
       position: fixed;
       width: 100%;
       top: 0;
       border-right: 1px solid #bbb;}
   li{
       float: left;
       border-left: 1px solid #bbb;}
   li a {
       display: inline-block;
       color:white;
       padding: 18px 108.5px;
       text-align: center;
       text-decoration: none}
   li a:hover:not(.active){
       background-color:aqua;}
   .active{
       background-color: #4caf50;}
   li:last-child{
       border-right: none;
       float:right;}
   img{
       width: 50%;}
   #text{
       font-size: 30px;
       font-family:cursive
   }
   input{
       border: 2px solid black;
       border-radius: 3px;
       background-color: lightgray;
   }
   .inputs{
       border: 1px solid red;
   }
   h2.format{
       text-align: center;
       color:yellow;
   }
   .box{
       border: 1px solid red;
       margin: 100px;
       background-color:transparent;
   }
   .backimag{
       background-image:url("https://www.publishnews.com.br/estaticos/uploads/2020/05/tR3tcBpL1DptpIOuQOgGXulY0Oa85AZo1431XW9XaE50ugV53gbA7w1GQBk35isQWwaOu6kzClKWVuws.jpg");
       background-repeat: no-repeat;
       background-size: cover;
    }
       


