html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(https://img.freepik.com/vetores-gratis/fundo-pintado-a-mao-em-azul-degrade_23-2148421198.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.imgLogin{
    width: 150;
    height: 150;
}
.Conteiner{
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 50px;
}

footer{
    margin-top: 110px;
}